<!-- favicon -->
<link rel="icon" href="{{ '/assets/images/miragefairy_face_256.webp' | relative_url }}" type="image/webp" sizes="256x256">

<!-- SNSで大きいサムネイルを表示 -->
{% assign twitter_image = page.header.og_image | default: page.header.overlay_image | default: page.header.image | default: page.header.teaser | default: site.og_image %}
{% if twitter_image %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ twitter_image | absolute_url }}">
{% endif %}
