{% assign locale = include.locale | default: site.locale %}

{% if page.header.overlay_filter contains "gradient" %}
  {% capture overlay_filter %}{{ page.header.overlay_filter }}{% endcapture %}
{% elsif page.header.overlay_filter contains "rgba" %}
  {% capture overlay_filter %}{{ page.header.overlay_filter }}{% endcapture %}
  {% capture overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}){% endcapture %}
{% elsif page.header.overlay_filter %}
  {% capture overlay_filter %}rgba(0, 0, 0, {{ page.header.overlay_filter }}){% endcapture %}
  {% capture overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}){% endcapture %}
{% endif %}

<div class="hero-carousel">
  <div class="hero-carousel__viewport">
    <div class="hero-carousel__container">
      {% for slide in page.carousel %}
        {% capture slide_img_path %}{{ slide.overlay_image | relative_url }}{% endcapture %}
        <div class="hero-carousel__slide">
          <div class="page__hero--overlay"
            style="{% if page.header.overlay_color %}background-color: {{ page.header.overlay_color | default: 'transparent' }};{% endif %}"
          >
            <div class="hero-bg" data-src="{{ slide_img_path }}" style="background-image: url('{{ slide_img_path }}');"></div>
            {% if overlay_filter %}
              <div class="hero-bg-filter" style="background: {{ overlay_filter }};"></div>
            {% endif %}
            <div class="wrapper">
              <h1{% if forloop.first %} id="page-title" itemprop="headline"{% endif %} class="page__title">
                {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
              </h1>
              {% if page.tagline %}
                <p class="page__lead">{{ page.tagline | markdownify | remove: "<p>" | remove: "</p>" }}</p>
              {% elsif page.header.show_overlay_excerpt != false and page.excerpt %}
                <p class="page__lead">{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
              {% endif %}
              {% include page__meta.html locale=locale %}
              {% include page__hero_actions.html locale=locale %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="hero-carousel__dots"></div>
  <div class="hero-carousel__progress"></div>
</div>
